.form {
    width: 95%;
    max-width: 25rem;
    margin: 2rem auto;
  }

  .control {
    margin-bottom: 0.5rem;
  }

  .control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #353336;
    display: block;
  }
  .action {
    margin-top: 1.5rem;
  }
  .reset_pass{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 6px;
  }
.reset_password{
  background: #96e596;
  padding-left: 67px;
  padding-right: 67px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: white;
}